@model IEnumerable<SistemaDeLeilao.Models.Lances>

@{
    ViewData["Title"] = "Index";
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="~/lib/datatables/css/jquery.dataTables.css" />
    <script src="https://kit.fontawesome.com/8082e987a4.js" crossorigin="anonymous"></script>
}

<h1>Listagem de lances</h1>

<div class="row">
    <div class="col text-center"><a type="button" asp-controller="Lances" asp-action="Create" class="btn btn-primary">Realizar novo lance</a></div>
</div>

<table class="display" id="tabela" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PessoasID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProdutosID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Pessoas.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Produtos.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.LancesID"><i class="fas fa-edit"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.LancesID"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#tabela').DataTable({ "order": [[2, "desc"]] });
        });
    </script>
}
